<%- include("navbar") %>
<%- include("headerForm") %>

<main class="row">
  <div class="col-12 col-xl-10 offset-xl-2 align-items-center formLocation">
    <form 
    action="/locations/createLocation"
    method="post"
    enctype="multipart/form-data"
    class="form-loc p-md-5">
    
      <div class="label ">
        <label for="location_name">Nombre de la localidad
        </label>
         <input
         type="text"
         name="location_name"
         id="location_name">
      </div>

     <div class="label">
       <label for="province">Provincia </label>
        <input
       type="text"
        name="province"
        id="province">
     </div>
    
      <div class="label">
        <label for="email">email </label>
        <input
        type="text"
        name="email"
        id="email">
      </div>
   
      <div class="label">
        <label for="comment">Descripcion (Opcional) </label>
        <input
        type="text"
        name="comment"
        id="comment">
      </div>
 
      <div class="label">
        <label for="telephone_number">telephone </label>
             <input
        type="text"
        name="telephone_number"
        id="telephone_number">
      </div>
  
      <div class="label">
        <label for="password">Contraseña </label>
        <input
        type="text"
        name="password"
        id="password">
      </div>

      <div class="label">
        <label for="file">Imagen</label>
        <input type="file"
        name="file"
        id="img">
      </div>

    <button class="btn btn-primary btn-form " type="submit">Enviar</button>

    </form>
    <br>
    <span style="color:red"><%= typeof message != "undefined" ? message : null %></span>
  </div>

</main>
</body>

<%- include("footer") %>