<header class=" col-12 header-ppal text-center ">
  <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4 slogan-ppal">
    <h1>
      Andalusian Tourism
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur et placeat reiciendis consectetur velit adipisci reprehenderit quasi eligendi, ea cumque.</p>
  </div>
  
</header>