<header class=" col-12 header-locations text-center ">
  <div class="bg-black1">
    <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4 d-flex flex-column justify-content-center align-items-center slogan-locations ">
      <h2>
        NUESTROS LUGARES
      </h2>
      <hr class="m-5">
      <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur et placeat reiciendis consectetur velit adipisci reprehenderit quasi eligendi, ea cumque.</p>
    </div>
  </div>
  
</header>