<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andalusian tourism</title>
    <!-- Link de bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- link css -->
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="https://kit.fontawesome.com/3947aef1e2.js" crossorigin="anonymous"></script>
  </head>
  <body class="container-fluid  p-0">
    <nav class="navbar navbar-expand-lg bg-nav">
      <div class="container-fluid ">
        <a class="logo-ppl navbar-brand nav-item" href="/"><img class="logo-ppl" src="/images/icon_ppal.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" style="color: white;" 
              href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/locations/formCreateLocation">Registrar nueva Localidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/locations">Todos las Localidades</a>
            </li>
         
            <li class="nav-item">
              <a class="nav-link" href="/locatios/login">login</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html> -->