$bg-nv: #8f7046;
$p-white: #EBDECC;
$text-white: #bcdee3fc;
$h3-color:#877458;
$hr-color:#cdbdae;
$bg-colorW:rgba(205, 189, 174, 0.25);
$bg-colorB:rgba(205, 189, 174,0.6);
$bg-button: rgba(188, 100, 18, 0.6);
$bg-colorWL:rgba(220, 130, 46, 0.14)