@use "./_variables" as v;
@use "./_mixin" as m;

@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// GENERALES
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 36px; 
  color: #8f7046; 
  text-shadow: -2px -2px 0 #603f23, 2px 2px 0 #603f23, -2px 2px 0 #603f23, 2px -2px 0 #603f23; 
 
}
h3,.card-text{
  color: v.$h3-color;
  font-size: 40px;
  opacity: 1;
}
h4{
  color:v.$p-white;
  font-size: 25px;
}
.hr{
  margin-left: calc(50% - 240px);
}
hr {
  width: 30%;
  height: 8px;
  background-color: v.$hr-color;
  opacity: 1;
}
h2{
  color: #603f23;
  text-shadow: -1px -1px 0 #603f23, 1px 1px 0 #603f23, -1px 1px 0 #603f23, 1px -1px 0 #603f23; 
}
.p{
  color: v.$p-white;
  font-size: large;
  border-color: #603f23!important;
}

  .btn-primary{
    background-color: v.$bg-button;
    z-index: 1;
  }
  .btn{
    border: #231f1a;
  }


// VIEW NAVBAR
.bg-nav{
  background-color: v.$bg-nv !important;
  a{
    color: v.$p-white;
  }
  .logo-ppl{
    filter: invert(1);
    color: antiquewhite;
  }
}

// VIEV HEADER PPAL
.header-ppal{
  background-image: url("/images/bg-ppal.jpeg");
  background-position: center;
  background-size: cover;
  padding: 10vw;
  filter: opacity(0.93) sepia(0.3);

  .slogan-ppal{
    padding: 4rem;
    background-color: v.$text-white;
    filter: opacity(0.70);
    border-radius: 10%;
    p,h1{
      margin: 7px;
      opacity: 1;
      color: v.$bg-nv;
      font-family: 'ADLaM Display', cursive;
    
    }
  }

}

// VIEW HEADERLOCATIONS
.header-locations{
  background-image: url("/images/bg-locations.jpeg");
  background-position: center;
  background-size: cover;
  
  z-index: 1;
  .bg-black1{
    background-color: rgba(62, 62, 62, 0.284);
    width: 100%;
    height: 100%;
    padding: 10vh;
  }
    
  .slogan-locations{
    border: solid 1px #8f7046;
    background-color: v.$bg-colorWL;
    padding: 5rem 3rem;
    border-radius: 10%;
  }
  // o meto la mediascrreen aqui o no funciona
  @media screen and (max-width: 770px) {
    .bg-black1{
      padding: 10vh;
    }
    .slogan-locations{
      padding: 5vh 2vh;
    }
   }
 }


 



// VIEW INDEX
// seccion1 locations
.seccion1-locations{
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 10vh 0;
  .carousel-image {
    width: 100%;
    height: 400px; /* Ajusta la altura según necesites */
    object-fit: cover; /* Mantiene la proporción y cubre el contenedor */
    
  }
  .carousel-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .carousel-text-overlay  {
    margin: 5px;
    font-size: 24px;
    text-align: center;
  }

}

.bg-sc1Location {
  background-color: v.$bg-colorW; 
  width: 100%;
  margin: 0 0 10vh 0;
}



// seccion2-index
.bg-sc2-1{
  background-color: v.$bg-colorW;
}
.bg-sc2-2{
  background-color: v.$bg-colorB;
  padding:10rem 5rem;
  img{
    
    height: 20%
  };

}

// VIEW ALLLOCATIONS
.mainLocation{
  background-color: v.$bg-colorWL;

}
.card{
  background-position:calc(50%);
  background-size: cover;
  .text{
    background-color: rgba(27, 25, 23, 0.5);
    
    padding: 15rem!important;
    
    .locationName{
      color: v.$p-white;
      font-size: 50px;
      padding: 10rem 0!important;
    }
  }
  @media screen and (max-width: 770px) {
    .text{
      padding: 3rem!important;
    }
 }
}
// VIEW ONELOCATION
.header-onelocation{
  background-position: center;
  background-size: cover;
  padding: 30vh  0;
  background-repeat: no-repeat;
  
}
.name-loc{
  color: v.$p-white;
  font-size: 70px;
}
.places{
  background-color: v.$bg-colorW;
}
.bg-sc2{
  background-color: v.$bg-colorB;
}
.card-img-top{
  height: 70%;
}

// VIEW ONEPLACE
.onePlace{

  // style="background-image: url(/images/locations/<%=result[0].img%>); ;"
  background-color: rgba(251, 251, 251, 0.769) !important;

  
  
  .bg-black3{
    background-color: rgba(167, 108, 36, 0.408) !important;
    border-radius: 10%;
    padding: 2rem;
   
  }

 

}
.imgppal{
  width: 100%;
  border-radius: 10%;  
  img{
    
    border-radius: 10%;
  
    width: 40rem;
    height: 40rem;
   
   }  
 }
 @media screen and (max-width: 770px) {

  .onePlace{

    
    
    .bg-black3{
      background-color: rgba(167, 108, 36, 0.408) !important;
      border-radius: 10%;
      padding: 2rem;
    }
  }
}

 .card-onePlace{
  padding: 2rem;
  
  }

  // VIEW FORMCREATELOCATION
  .formLocation{
    padding:5rem  15rem;
   
    .form-loc{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(173, 144, 110, 0.335);
      border-radius: 5%;
      width:calc(50% - 20px);
      
      border: solid 1px rgb(208, 124, 51);;
      .label{
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        
        align-items: center;
      }
      
    }
    @media screen and (max-width: 970px){
      .formLocation{
        padding:0
   }    
      .form-loc{
       
        background-color: rgba(255, 255, 255, 0.335);
        border-color: aliceblue;
        width:100%
        
      }
      label{
        display: flex;
        flex-direction: row;
        padding: 1rem;
       
      }
      .btn-form{
        width: 100%;
      }
    }
  }

  label{
    width: 20vw;
  }
  .btn-form{
    width: 50%;
  }

// viev footer